@model IEnumerable<RabbitDLL.Product>

@{
    ViewData["Title"] = "GetProducts";
}

<h2>GetProducts</h2>

@{
    var token = new Byte[500];
    Context.Session.TryGetValue("Token", out token);
    var login = new Byte[500];
    Context.Session.TryGetValue("Login", out login);
    if (login != null && (System.Text.Encoding.Default.GetString(login) == "Vova"))
    {
<p>
    <a asp-action="CreateProduct">Create new Product</a>
</p>
    }
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductCategory)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CountInBase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductCategory)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CountInBase)
                </td>
                @{
                    if (login != null && (System.Text.Encoding.Default.GetString(login) == "Vova"))
                    {
                        <td>
                            <a asp-action="EditeProduct" asp-route-id="@item.ID">Edit</a>|
                            @*<a asp-action="DetailsProduct" asp-route-id="@item.ID">Details</a> |*@
                            <a asp-action="DeleteProduct" asp-route-id="@item.ID">Delete</a>
                        </td>
                    }
                }

            </tr>
        }
    </tbody>
</table>
